.list-users-container {
    padding: 15px 25px;
    border-radius: 15px;
    max-width: 300px;
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    background-color: white;
    border: 1.5px solid gray;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    margin-top: 38px;
}